@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC|Raleway');

*{
  font-family: 'Noto Serif TC', serif;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.flexContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
